body {
    color: black;
    font-size: 16px;
    font-family: open sans,sans-serif, lucida sand,sans-serif;
    margin: 0 auto 0 auto;
    background-image: url("/images/background.jpg");
    margin-left: 10%;
    margin-right: 10%;
}

header {
    background: rgb(240, 240, 240);
    border-style: groove;
    border-bottom: 4px solid black;
    font-size: 20px;
}

.logo {
    text-align: center;
    align-content: center;
}

.logo a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.content {
    background-color: white;
    border-style: groove;
    border-bottom: 4px solid black;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

nav {
    text-align: center;
}

nav a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: solid 4px black;
    color: #555;
    background: rgb(240, 240, 240);
    border-style: groove;
    border-radius: 4;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0 12px 0;
    text-align: right;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 16px;
}

.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.social {
    float: left;
}

blockquote {
    border: 1px solid;
    background: rgb(240, 240, 240);
    font-style: italic;
}

.posts {
    padding-left: 10%;
}

table {
    width: 90%;
    border: 2px solid;
    border-collapse: collapse;
    background: rgb(240, 240, 240);
}

th {
    border-bottom: 2px solid;
    border-right: 1px solid;
    text-align: center;
}

tr {
    border-right: 1px solid;
    border-left: 1px solid;
}

td {
    border: 1px solid;
    text-align: center;
}
