code {
    color: black;
//    font-weight: bold;
}

pre {
    background-color: #ccccee;
//    color: lightblue;
    border: 2px solid black;
    overflow-x: scroll;
}

.sourceCode {
    font-family: monospace;
    overflow-x: scroll;
}

.sourceCode .kw { color: #ef2000; }  /* key words */
.sourceCode .dt { color: purple; }  /* data type */
.sourceCode .dv { color: black }  /* decimal value */
.sourceCode .bn { color: black }  /* base N */
.sourceCode .fl { color: black }  /* float */
.sourceCode .ch { color: #2010f0; }  /* char */
.sourceCode .st { color: #2010f0; }  /* string */
.sourceCode .co { color: #333366; } /* comments */
.sourceCode .ot { color: #005050; }  /* other */
.sourceCode .at { }  /* alert */
.sourceCode .fu { color: #260b32; } /* function/operators */
.sourceCode .re { }  /* region marker */
.sourceCode .er { }  /* error */